################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet/.vs
/DotNet/gRPCClient/bin
/DotNet/gRPCClient/obj
/DotNet/gRPCHost/obj
/DotNet/gRPCHost/bin
Node/node_modules/
gRPCplaygroundDockerManager/bin/
gRPCplaygroundDockerManager/obj/
gRPCplaygroundDockerManager/gRPCplayground.Agent/bin/
gRPCplaygroundDockerManager/gRPCplayground.Agent/obj/
*.user
gRPCplaygroundDockerManager/.vs/
