################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet/.vs
/DotNet/gRPCClient/bin
/DotNet/gRPCClient/obj
/DotNet/gRPCHost/obj
/DotNet/gRPCHost/bin
